*/* Meyer reset */

* {
  box-sizing: border-box;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Color Theme Swatches in RGBA - represents color palette for this site*/

.plum { 
  color: rgba(166, 88, 94, 1);
}

.plumBackground { 
  background-color: rgba(166, 88, 94, 1);  
}

.mauve { 
  color: rgba(140, 108, 126, 1);
}

.mauveBackground { 
  background-color: rgba(140, 108, 126, 1);
}


.red { 
  color: rgba(191, 4, 4)
}

.black { 
  color: rgba(38, 11, 9, 1); 
}

.dark { 
  color: black; 
}


.lighter {
  color: rgb(92, 59, 57)
}

.blackBackground { 
  background-color: rgba(38, 11, 9, 1); 
}

.salmon { 
color: rgba(242, 76, 61, 1); 
}

.salmonBackground { 
background-color: rgba(242, 76, 61, 1); 
}

.white {
color: white;
}

.skin {
color: rgba(242, 230, 223);
}

.skinBackground {
background-color: rgba(242, 230, 223);
}

.whiteBackground {
background-color: white}

.blue {
color: rgba(3, 52, 115);
}

.blueBackground {
background-color: rgba(3, 52, 115);
}

.purple {
color: rgba(49, 31, 115); 
} 

.purpleBackground {
background-color: rgba(49, 31, 115);    
} 

.green {
  color: rgba(99, 140, 69)
}

.greenBackground {
  background-color: rgba(99, 140, 69)
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Montebello-Sans';
  src: url('Font/Montebello-Sans.ttf') format('truetype');
}

.primaryFont {
font-family: 'Poppins', sans-serif;
}

.montebello {
font-family: 'Montebello-Sans',truetype;
font-weight: lighter6
}

body {
  font-size: 14px;
  color: rgba(38, 11, 9, 1)4;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  padding: 1px;
}

section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("https://i.ibb.co/3dHk6Dh/ostrander.jpg");
  min-height: 480px;
  padding: 2%;
  
}

a {
  color: rgba(49, 31, 115); 
  line-height: 20px;
  transition: 0.3s;
  font-size: 13px;
  padding: 3px;
}

a:hover, a:active {
  color: rgba(3, 52, 115);
  background-color: white;
  padding: 8px;
  border-radius: 5px;
}

nav {
  height: 60px;
  padding: 5px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color:rgba(38, 11, 9, 1); 
  transition: 0.3s;
}

.navbar:hover, .navbar:active {
  border: 1px solid rgba(140, 108, 126, 1);
}

footer {
  height: 20px;
  color: rgba(242, 230, 223);
  z-index: 100;
}
       
.homeLogo {
  position: inherit;
  width: 50px;
  height: 50px;
  padding: 5px;
  border-radius: 10px;
  z-index: 100;
}

 .uYtitle {
  width:50%;
  display: block;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
} 

.noDeco{
 text-decoration: none;
} 

.noDeco:hover {
 background-color: transparent;
}


h3 {
  font-size: 15px;
  color: rgba(242, 76, 61, 1);
  text-align: center;
  padding: 5px;
  font-family:  'Montebello-Sans', truetype;
  font-weight: lighter;
  z-index: 200;
}

.hero {
  font-size: 20px;
  text-align: center;
  font-family: 'Montebello-Sans', truetype;
  font-weight: lighter;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -15px;
}

p {
  padding: 1%;
  color: rgba(38, 11, 9, 1); 
  border: 1px;
  line-height: 1.8;
  text-align: center;
}

.search {
  text-align: left;
}

.logo {
  width: 20px;
  height: 20px;
}

.social {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.social_icon {
  float: left;
  margin-left: -80px;

}

.contact_icon {
  max-width: 40%;
  padding-bottom: 35px;
  padding-right: 10px;
  transition: 0.3s;
}

.contact_icon:hover, .contact_icon:active {
  max-width: 50%;
}

.socialcontact_icon {
  max-width: 25%;
  margin-top: 5px;   
  padding-left: 5px;
  padding-bottom: 30px;
}

.attribution {
  width: 20%;
  float: right;
  margin-top: -70px;
  padding-right: 5px;
}
 
h4 {
  font-size: 16px;
  text-align: center;
  font-family: 'Montebello-Sans', truetype;
  font-weight: lighter;
  line-height: 1.7;
}
   
li {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: bolder;
  padding-top: 20px;
  list-style-type: none;
}

input {
  display: inline-block;
  font-size: 16px;
  height: 45px;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid rgba(166, 88, 94, 1);
  transition: 0.1s;
  margin-left: 4px;
}

input[type=number] {
  width: 150px;
  margin-top: 4px;
}

input::placeholder { 
  color: rgba(242, 230, 223);
} 

input:hover, input:active {
  border: 1px solid rgba(3, 52, 115);
}

input[type="text"]{
  width: 100%;
}

input[type="submit"]{
  height: 45px;
  width: 60px;
  font-size: 30px;
  border-radius: 5px;
  padding: 1px;
  transition: 0.1s;
}

button {
  height: 35px;
  max-width: 60px;
  color: white;
  width: 90px;
  border-radius: 5px;
  padding: 1px;
  transition: 0.1s;
  border: 1px solid rgba(166, 88, 94, 1);
  z-index: 200px;
  font-weight: lighter;
}

.button {
  max-width: 200px;
  border-radius: 5px;
  padding: 1px;
  padding-top: 5px;
  margin-bottom: 2px;
  transition: 0.1s;
  z-index: 200px;
  display: inline-block;
}

input[type="submit"]:hover,
button:hover
 {
  border: 2px solid rgba(191, 4, 4);
}

.snowyOwl {
  text-align: center;
  width: 70px; 
  margin-top: 3px;
  margin-right: 5px;
  right: 0;
  border-radius: 5px;
  animation-duration: 4s;
  animation-name: slidein;
  position: fixed;
  transition-timing-function: ease-in;
  z-index: 400;
}

@keyframes slidein {
  from {
    opacity: 0%
  }

  to {
    opacity: 100%
  }
}


table {
 width: 100%;
 text-align: center;
 margin-left: auto;
 margin-right: auto;
}

th {
  font-size: 7px;
  font-weight: bolder;
  border: 1px solid  rgba(3, 52, 115); 
  margin-left: auto;
  margin-right: auto;
  transition: 0.3s;
}

th, td {
  padding: 4px;
  border: 4px;
  text-align: left;
  transition: 0.3s;
}

td {
  border-bottom: 1px solid rgba(242, 230, 223);
  font-size: 7px;
}

.servingH, .weightH, .unitH, .caloriesH{
  width: 5%;
} 

.calPserv:hover {
  font-size: 14px;
}

.brandH {
  width: 10%;
}

.imageH {
  width: 10%;
  color: rgba(3, 52, 115);
  display: none;
}

.itemH{
  width: 10%;
}

.tableImage {
  width: 10px;
  display: none;
}

.quant, .gram, .cal {
  font-size: 7px; 
  font-weight: bold;
  transition: 0.3s;
}

.brandId {
  font-size: 7px; 
  font-weight: bold;
  transition: 0.3s;
}

.quant:hover, .quant:active {
  font-size: 20px; 
}

.calG:hover, .calG:active {
  font-size: 22px; 
  transition: 0.3s;
}

.resultsButtons {
 display: inline-block;
 text-align: center;
 width: 100%;
 padding: 4%;
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 10px;
  color: rgba(49, 31, 115);
  opacity: 80%;
  text-align: bottom;
  border-radius: 6px;
  font-size: 7px;
  padding-left: 2px;
  /* Position the tooltip */
  position: absolute;
  z-index: 40;
}

.tooltip:hover .tooltiptext,  .tooltip:active .tooltiptext{
  visibility: visible;
}    


.homeForm {
  margin-top: -30px;
}

.content {
padding-top: 200px;
}

.printRefresh {
  width: 300px;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 15px;
  margin-top: -20px;
  z-index: 100;
}

.sorry {
  font-size: 15px;
  text-align: center;
}


.hidden {
  display: none;
}


@media only screen and (min-width: 320px) {


.hamburger {
  font-size: 2rem;
}

.menu {
  padding-left: 145px;
}

.hero {
  font-size: 20px;
}

h3 {
  font-size: 20px;
}
  
h4 {
  font-size: 14px;
}

table,th, tr, thead {
  font-size: 6px;
}

.itemH, .brandH, .servingH, .unitH, .weightH, .calG, .cal {
  width: 4%;
}

.quant, .gram, .cal, .brandId {
  font-size: 7px; 
  font-weight: bold;
  transition: 0.3s;
}

.tableImage {
  width: 15px;
}


.topB {
  padding-bottom: 65px;
}

input[type="text"]{
  width: 90%;
}

}


@media only screen and (min-width: 480px) {
nav {
  height: 60px;
}

.uYtitle {
  width:30%;
  display: block;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
} 

.hero {
  font-size: 30px;
}


h3 {
  font-size: 25px;
}

.topB {
  padding-bottom: 50px;
}

table,th, tr, thead {
  font-size: 10px; 
  
}

.quant, .gram, .cal, .brandId, .itemH, .unitH {
  font-size: 10px; 
  font-weight: bold;
  transition: 0.3s;
}

.brandH, .itemH {
  width: 30%;
}

.imageH {
 display: block;
  
}

.tableImage {
  display: block;
}



.contact_icon {
  display: flex;
  max-width: 50%;
  flex-grow: -1;
}

.socialcontact_icon {
  max-width: 30%;
}

footer {
  height: 120px;
}

input {
  font-size: 19px;
}

label {
  font-size: 19px;
}

input[type="text"]{
  width: 70%;
}



}


@media only screen and (min-width: 760px) {
nav {
  height: 65px;
}


.hero {
  font-size: 45px;
}

.contact_icon {
  display: flex;
  max-width: 30%;
  flex-grow: -1;
}

.socialcontact_icon {
  max-width: 20%; 
}

footer {
  height: 120px;
}

h4 {
  font-size: 28px;  
 }

table, .header, th, tr, thead, td {
  font-size: 14px; 
  
}

.quant, .gram, .cal, .brandId, .itemH, .unitH{
  font-size: 14px; 
  font-weight: bold;
  transition: 0.3s;
}

.tableImage {
  width: 30px;
}

h3 {
  font-size: 35px;
}


.topB {
  padding-bottom: 65px;
}

.printRefresh {
  width: 600px;
}

input {
  font-size: 25px;
}

label {
  font-size: 30px;
}

.attribution {
  width: 10%;
}


input[type="text"]{
  width: 80%;
}


.tooltip .tooltiptext {
  font-size: 11px;
}

button, .button {
height: 45px;
}

button, a {
font-size: 22px;

}

}

@media only screen and (min-width: 1500px) {
nav {
 height: 65px;
}

.hero {
  font-size: 55px;
  margin: 40px;
}

h3 {
  font-size: 50px;
}

h4 {
  font-size: 40px;
}

table, th, tr, thead, td {
  font-size: 20px; 
}

.quant, .gram, .cal, .brandId, .itemH, .unitH{
  font-size: 20px; 
}

.tableImage {
  width: 100px;
}


h3 {
  font-size: 40px;
}

.topB {
  padding-bottom: 65px;
}


.printRefresh {
  width: 1200px;
}

input {
  font-size: 30px;
  height: 75px;
}

label {
  font-size: 35px;
}

.attribution {
  width: 5%;
}

.header {
margin-top: 100px; 
}


.uYtitle {
  width: 20%;
  display: block;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -40px;
} 



input[type="submit"]{
  height: 60px;
  font-size: 25px;
  width: 90px;
  border-radius: 5px;
  padding: 1px;
  transition: 0.1s;
  margin-top: 50px;
}

input[type="text"]{
  width: 55%;
}

button, .button {
  height: 50px;
    
}

.max {
  margin-top: 20px;
}

.tooltip .tooltiptext {
  font-size: 11px;
}


}
